<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= rootDir %></title>
        <link rel="stylesheet" type="text/css" href="http://g.tbcdn.cn/mm/animore/0.0.4/global.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript" src="http://g.tbcdn.cn/mm/animore/0.0.4/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <div class="animore-container <%= rootDir %>" 
            data-designer="<%= designer %>" 
            data-developer="<%= developer %>" 
            data-browsers="<%= browsers %>" 
            style="width: <%= width %>px; height: <%= height %>px">
            
            
        </div>

        <script type="text/javascript" src="http://g.tbcdn.cn/mm/animore/0.0.4/animore.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>